/* paleta de colores generales*/
:root {
    
    --main-gray: #EAEAEA;
    --main-orange: #fc9b03;
    --main-dark-orange:#D07F00;
    --main-dark-blue: #030b32;
    --main-blue: #02478a;
    --main-black: #0f0b0c;
    --main-white: #ffffff;

}
/*text style*/
.color-black{

    color: var(--main-black);

}

.color-white{
    color: var(--main-white);
}

.color-white-link{
    color: var(--main-white);
}
.color-white-link:hover{
    color: var(--main-orange);
}

.color-orange{
    color: var(--main-orange);
}

.color-orange-link{
    color: var(--main-orange);
    text-decoration: none;

}
.color-orange-link:hover{
    color: var(--main-orange);
    text-decoration: none;
    
}

.text-decoration-none{
    text-decoration: none;
}


/* backgournd Colors */
.bg-white{

    background-color: var(--main-white);
}

.bg-blue{
    background-color: var(--main-dark-blue);

}
.bg-orange{
    background-color: var(--main-orange);
}
.bg-dark-orange{
    background-color: var(--main-dark-orange);
}

/* general sizes */

.img-size-80{
    width: 80px;
    height: 80px;
}

.img-size-40{
    width: 40px;
    height: 40px;
}
.img-size-30{
    width: 30px;
    height: 30px;
}

.img-size-20{
    width: 20px;
    height: 20px;
}


.img-size-70{
    width: 60px;
    height: auto;
}
.img-size-auto{

    width: auto;
    height: auto;
}


/* button styles*/

.buttonDos14Orange{

    color: var(--main-white);
    background-color: var(--main-orange);
    border: none;

}
.buttonDos14Orange:hover{
    background-color: #d68604;
}


/*Border colors*/

.border-orange-b{

    border-bottom: 2px solid var(--main-orange);
    
}