.input-default{
    padding: inherit;
    outline: none;
    border: none;
    background-color: var(--main-white);
    color: #212121;
}
.input-default:focus{
   
    border: #212121 5px solid;
}
.input-default::placeholder{
    color: #212121;
}