.bg-design{

    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-width: auto;
    min-height: 250px;
    background-size: cover;
    background-image: linear-gradient(

      rgba(0, 0, 0, 0.40),
      rgba(0, 0, 0, 0.40)
     ),  
     url(../../../assets/images/TerrazaDesingBg.svg);
}
.icon-size{

    width: 60px;
    height: 60px;
}